*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: montserrat;
	background-color: white;
}


footer{
	width:100%;
	height:auto;
	background-color:rgb(39, 48, 68);
	color:white;
	padding-bottom:30px;
	top:150px;
	bottom:0;
	margin-top:60px;
	position:fixed;
	z-index:0;
	
}

.footer-grid{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	column-gap:30px;
	row-gap:30px;
	justify-content:center;
	padding-top:50px;
	margin:0 30px;
	
}


.footer-grid h3{
	font-family:Montserrat;
	font-size:18px;
	font-weight:700;
	line-height:18px;
	margin-bottom:30px;
}

.footer-grid p{
	font-family:"Open Sans";
	font-size:13px;
	line-height:20px;
	margin-bottom:21px;
}

.footer-ln{
	font-family:Montserrat;
	font-size:12px;
	font-weight:400;
	line-height:20px;
	padding:10px 15px;
	border:2px solid white;
	background:none;
	color:white;
	letter-spacing: 1px;
	cursor:pointer;
	transition:0.4s;
}
.footer-ln:hover{
	background-color:rgb(29, 38, 58);
}

.pc-det{
	display:flex;
	margin-bottom:5px;
}

.pc-det h5{
	line-height:18px;
	margin-bottom:4px;
	cursor:pointer;
	transition:0.4s;
}

.pc-det h5:hover{
	color:#e8ae1c;
}

.pc-det h6{
	color: rgb(170, 170, 170);
	font-family:"Open Sans";
	font-size:12px;
	line-height:14px;
}

.footer-dimg{
	display:inline-block;
	width:50px;
	height:50px;
	margin-right:20px;
	cursor:pointer;
	
}

.footer-pg h6{
	font-family:Montserrat;
	font-size:12px;
	line-height:12px;
	letter-spacing:0.7px;
	border-bottom:1px solid rgba(170, 170, 170, 0.3);
	padding-bottom:10px;
	font-weight:400;
	margin-bottom:20px;
	cursor:pointer;
	transition:0.4s;
}
	
.footer-pg h6:hover{
	color:#e8ae1c;
}

.copyright{
	font-size:11px;
	text-align:right;
	
}


.footer-bot{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	row-gap:30px;
	justify-content:center;
	margin:10px 40px;
	
	
}
.footer-logo{
	width:150px;
	
}
.footer-social-ico-front{
	width:45px;
	height:45px;
	border-radius:50%;
	cursor:pointer;
	text-align:center;	
	
}
.footer-social-ico-back{
	transform: rotateY(180deg);
	background-color:#e8ae1c;
	width:45px;
	height:45px;
	border-radius:50%;
	cursor:pointer;
	text-align:center;	
}

.flip-card {
	width:45px;
	height:45px;
  background-color: transparent;
  perspective: 1000px;
}

.footer-social-ico{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor:pointer;

}

.footer-social-ico i{
	margin-top:15px;
}

.flip-card:hover .footer-social-ico {
  transform: rotateY(180deg);
}

.footer-social-ico-front, .footer-social-ico-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


@media(max-width:864px){
	.footer-grid{
		grid-template-columns:1fr 1fr;
	}
	.footer-bot{
		grid-template-columns:1fr 1fr;
	}
}

@media(max-width:780px){
	.footer-grid{
		grid-template-columns:1fr ;
	}
	.footer-bot{
		grid-template-columns:1fr ;
	}
}














